/* General Styling */
html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Sigmar';
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border-radius: 8px;
    border: 0;
}

.d-none {
    display: none !important;
}

.no-pointer {
    pointer-events: none;
}

.layer1 {
    z-index: 1 !important;
}

.o-none {
    opacity: 0;
}



/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* Pokedex Card */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

#pokedex {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 380px;
    color: white;
    text-align: center;
    border-radius: 24px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
}


/* Upper Part of the Card */
#pokedexSprite {
    max-width: 60%;
    position: absolute;
    bottom: 0;
    right: calc(50% - 114px);
    z-index: 1;
}

#pokeball-bg {
    width: 200px;
    opacity: 0.5;
    position: absolute;
    right: 0;
    bottom: 0;
}

#pokedexOverview {
    position: relative;
    height: 55%;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

#cardHeading {
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

#pokedexTypes {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
    margin-left: 8px;
    width: 33%;
}

.type {
    min-width: 60px;
    text-align: center;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 40px 40px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#pokedexName {
    font-size: 3rem;
    font-family: 'Sigmar';
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#pokedexId {
    font-size: 1.5rem;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}


/* Lower Part of the Card */
#pokedexStats {
    border-radius: 24px;
    background-color: white;
    flex: 1;
}


/* List of all Pokemon */
.pokemon-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px 0;
}

#listOfPokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    gap: 40px;
    overflow: hidden;
}

.pokeball-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -21%;
    text-align: center;
    gap: 8px;
}

.pokeball-bg::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url('../img/pokeball-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


/* Content of Cards */
.card-header {
    display: flex;
    flex-direction: column;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    color: white;
    z-index: 1;
}

.card-header :first-child {
    font-size: 1.5rem;
}

.pokemon-types {
    display: flex;
    justify-content: center;
    gap: 8px;
    opacity: 0;
    visibility: hidden;
    transition: 225ms ease;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    color: white;
    position: relative;
    bottom: 20%;
}

.card-line {
    height: 1px;
    width: 80%;
    border-radius: 20%;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    transition: 425ms ease-out;
    transform: scale(0, 1);
}

.pokemon-sprite {
    width: 90%;
    height: 90%;
    z-index: 1;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
}

.pokemon-flavor {
    opacity: 0;
    visibility: hidden;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    color: white;
    transition: 625ms ease;
    position: relative;
    top: -20%;
    text-align: center;
    font-size: 0.8rem;
    padding: 8px;
    transform: scale(1, 0);
    font-family: cursive;
    font-size: 1rem;
}


